 /* Practice CSS selectors */
/* Exercise 1 */
p {
  font-size: 21px;
}

/* Exercise 2 */
#header {
  background-color: lightblue;
}

/* Exercise 3 */
.box {
  color: red;
}

/* Exercise 4 */
#container ul {
  list-style-type: square;
}

/* Exercise 5 */
section .highlight {
  background-color: yellow;
}